{% extends 'navbar.html' %}
{% load crispy_forms_tags %}

{% block title_block %} {% endblock  %}

{% block css_block %}
<style>
        .edit_profile{
            width:500px;
            border: 1px solid #138496;
            padding: 40px;
            border-radius: 5px;
        }
        

    </style>
{% endblock  %}

{% block body_block %}
<center>
    <h3>Edit User Info</h3>
    <div class="edit_profile">
        <form method='POST' enctype="multipart/form-data">
        {{form|crispy}}
        {% csrf_token %}
        <br><hr>
        <button type="submit" class="btn btn-primary btn-sm" style="width:100%">Submit</button>
        </form>
    </div>
    <br><br>
</center>
{% endblock  %}